@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    line-height: 1.75;
    font-size: 1.25em;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    scrollbar-width: thin;
    scrollbar-color: cRed background1;
}

*::-webkit-scrollbar {
    @apply w-1;
    @apply h-1;
}
*::-webkit-scrollbar-track {
    @apply bg-background1 dark:bg-background1Dark;
}
*::-webkit-scrollbar-thumb {
    @apply bg-cRed;
}

::selection {
    @apply text-regularTextDark bg-cPink;
}

a {
    @apply text-teal-600 hover:text-teal-400;
}
